#theRiddler {
    /* background: linear-gradient(to right bottom, rgb(1, 43, 1), #6F6630);| */
    border-top: solid 1px #480F0E;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 8, 1);
    color: green;
    height: 80%;
}

#theRiddler img {
    width: 80vw;
    height: 80vh;
    margin-top: 4em;
    border: 1px solid green;
}

#charadas {
    display: flex;
    flex-direction: column;
    margin: 3em;
    margin-bottom: 6em;
}

#charadas h1 {
    align-self: center;
    font-size: 3em;
}

#charadas label, #charadas input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin: 0.4em;
}

#charadas label {
    margin-top: 2em;
}

#charadas input {
    background-color: rgb(1, 65, 1);
    border-radius: 0.2em;
}

#charadas input:focus {
    background-color: #2f8109;
    outline-style: none;
}

#resolver {
    background-color: #002903;
    color: rgba(0, 0, 0, 0.671);
    padding: 1.2em;
    margin-top: 2em;
    border-radius: 0.4em;
    font-size: 2em;
    font-family: batman;
    width: 6em;
    height: 2em;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resolver:hover {
    cursor: pointer;
}

@media (max-width: 1084px) {
    #theRiddler img {
        width: 90vw;
        height: 40vh;
    }
}