#Detetive01, #Detetive02 {
    font-family: serif;
}

#Detetive01 {
    background-color: #410101dc;
    color: white;
    display: flex;
}

#Detetive01 img {
    width: 28%;
    border-right: solid 2px black;
}

#Detetive01 div {
    background-color: #410101;
    border-radius: 2%;
    align-self: center;
    height: 75vh;
    color: white;
    width: 60%;
    font-size: 1.4em;
    color: black;
    padding: 10px;
    margin: 0 auto;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.486))
}

#Detetive02 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid black;
}

#Detetive02 img {
    width: 40%;
    opacity: 0.5;
}

#Detetive02 div {
    font-size: 1.6em;
    color: black;
    padding: 10px;
    width: 50%;
    border-radius: 2%;
    margin: 10px auto;
    padding: 20px;
    background-color: #8b00008c;
    align-self: center;
}

@media (max-width: 1084px) {
    #Detetive01 {
        display: flex;
        flex-direction: column;
        background-color: #4d0101;
    }
    
    #Detetive01 img {
        width: 100%;
        border-bottom: 1px solid black;
        border-top: 1px solid #540000;
        border-right: none;
    }

    #Detetive01 h1 {
        border-bottom: 2px solid black;
        border-radius: 20%;
        font-family: batman;
        font-size: 4em;
        text-align: center;
        color: black;
    }

    #Detetive01 div {
        width: 80%;
        font-size: 2em;
        border: 2px solid black;
        background-color: #450000;
        padding: 20px;
        color: black;
        align-self: none;
        font-size: 40px;
        margin: 10px;
        height: 100%;
    }

    #Detetive02 {
        display: flex;
        flex-direction: column-reverse;
    }

    #Detetive02 img {
        width: 100%;
        height: 800px;
        border-bottom: 2px solid #540000;
        border-top: 10px solid black;
        border-left: none;
    }

    #Detetive02 h1 {
        border-bottom: 2px solid #000000c9;
        border-radius: 10%;
        text-align: center;
        font-family: batman;
        font-size: 3em;
        color: black;
    }

    #Detetive02 div {
        width: 80%;
        font-size: 40px;
        padding: 20px;
        height: 100%;
        margin: 10px;
    }
}