#Detetive01 {
    background-color: #540000;
    color: white;
    display: flex;
    font-family: cursive;
}

#Detetive01 img {
    width: 21em;
    border-right: solid 2px black;
}

#Detetive01 div {
    width: 55%;
    font-size: 1.2em;
    color: black;
    padding: 10px;
    margin: 0 auto;
}

#Detetive02 {
    background-color: black;
    color: white;
    display: flex;
    font-family: cursive;
    justify-content: space-between;
    border-left: 2px solid black;
}

#Detetive02 img {
    border-left: solid 2px #750303;
    width: 40em;
    opacity: 0.5;
}

#Detetive02 div {
    font-size: 1.4em;
    color: #5f0808c9;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 1084px) {
    #Detetive01 {
        display: flex;
        flex-direction: column;
    }
    
    #Detetive01 img {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid black;
        border-top: 1px solid #540000;
        border-right: none;
    }

    #Detetive01 h1 {
        border-bottom: 2px solid black;
        border-radius: 20%;
        text-align: center;
    }

    #Detetive01 div {
        width: 80%;
        font-size: 2em;
    }

    #Detetive02 {
        display: flex;
        flex-direction: column-reverse;
    }

    #Detetive02 img {
        width: 100%;
        height: 40em;
        border-bottom: 2px solid #540000;
        border-top: 10px solid black;
        border-left: none;
    }

    #Detetive02 h1 {
        border-bottom: 2px solid rgba(255, 0, 0, 0.507);
        border-radius: 20%;
        text-align: center;
    }

    #Detetive02 div {
        width: 80%;
        font-size: 2em;
    }
}