#Detetive01 {
    background-color: #540000;
    color: white;
    display: flex;
    font-family: cursive;
}

#Detetive01 img {
    width: 21em;
    border-right: solid 2px black;
}

#Detetive01 div {
    width: 55%;
    font-size: 1.2em;
    color: black;
    padding: 10px;
    margin: 0 auto;
}

#Detetive02 {
    background-color: black;
    color: white;
    display: flex;
    font-family: cursive;
    justify-content: space-between;
    border-left: 2px solid black;
}

#Detetive02 img {
    border-left: solid 2px #750303;
    width: 40em;
    opacity: 0.5;
}

#Detetive02 div {
    font-size: 1.4em;
    color: #750303;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
}


