@font-face {
    font-family: batman;
    src: url('/font/Fiorello_CG_Condensed_Regular.otf');
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: batman;
}

header {
    display: flex;
    align-items: center;
    background: black;
    padding: 0.5em;
    justify-content: space-between;
    height: 14vh;
}

header img {
    padding: 0.6em;
}

#menu {
    display: none;
    background-color: #e4031db0;
    height: 40vh;
    width: 40vw;
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

header nav a {
    color: #540000;
    font-size: 1.8em;
    text-decoration: none;
    margin: 2em;
}

header nav a:hover {
    color: green;
}

header #enigma {
    margin-right: 0.8em;
}

section {
    background-color: black;
}

::-webkit-scrollbar {
    background-color: black;
}

::-webkit-scrollbar-button {
    background-color: #480F0E;
}

::-webkit-scrollbar-thumb {
    background-color: #480F0E;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #540000;
    background-color: black;
    color: #540000;
    padding: 0.6em;
    height: 14vh;
}

#contatos {
    display: flex;
}

#contatos a {
    height: 3em;
    width: 3em;
    margin: 0.6em;
    border-radius: 100%;
    border-radius: 20%;
    padding: 0.3em;
    background-color: #540000;
}

#contatos a:hover {
    height: 3.4em;
    width: 3.4em;
}

footer p {
    font-size: 1.6em;
    font-family: cursive;
}

footer p:hover {
    cursor: default;
}

#botaoMusica {
    cursor: pointer;
    margin-right: 2em;
    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 100%;
    background-color: #540000;
}

#botaoMusica:hover {
    opacity: 0.9;
}

#botaoMusica:active {
    height: 2vh;
    width: 2vw;
}

@media (max-width: 1084px) { /* aplica em telas menores */

    header {
        flex-direction: column;
    }

    #batLogoEMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94vw;
    }

    #menu {
        display: block;
        cursor: pointer;
        background-color: #e4031d4b;
    }

    #menu:hover {
        background-color: #e4031d71;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.726);
    }

    header nav a {
        margin: 0;
        font-size: 3em;
        display: none;
        z-index: 1;
    }

    header #botaoMusica {
        position: absolute;
        top: 120px;
        left: 10px;
        z-index: 1;
    }

    footer p {
        display: none;
    }
}