#theBatmanBegin {    
    width: 100vw;
    height: 90vh;
    opacity: 0.6;
}

@media (min-width: 1085px) { /* aplica em telas maiores! */
    
    #theBatmanBegin {
        animation-duration: 10s;
        animation-name: batman;
    }

    @keyframes batman {
        from {
            margin-right: 100%;
            width: 150vw;
        }
    
        to {
            margin-right: 0%;
            width: 100vw;
        }
    }
}

@media (max-width: 1084px) {
    #theBatmanBegin {
        height: 80vh;
    }
}