#theBatmanBegin {
    width: 100%;
    height: 38em;
    opacity: 0.6;
}

@media (min-width: 1085px) {
    
    #theBatmanBegin {
        animation-duration: 10s;
        animation-name: batman;
    }

    @keyframes batman {
        from {
            margin-right: 100%;
            width: 150em;
        }
    
        to {
            margin-right: 0%;
            width: 100%;
        }
    }
}