#trailers {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #480F0E;
}

#trailers iframe {
    width: 50vw;
    height: 60vh;
    border: solid 2px #480F0E;
    border-radius: 8%;
}

#trailers p {
    color: #750303;
    font-size: 2em;
    border-bottom: 0.1em solid #750303;
    border-radius: 10%;
}


#trailer01, #trailer02, #trailer03 {
    padding: 2em;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1084px) {
    #trailers iframe {
        width: 80vw;
        height: 60vh;
    }

    #trailer01, #trailer02, #trailer03 {
        padding-top: 0;
        margin: 0.4em;
    }
}